<!DOCTYPE HTML>
<html>
	<head>
		<title>Roedores Rescatados Inicio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="rescatados/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">Roedores Rescatados</a></h1>
					<p>Mascotas que brindan mucho amor<br />
					¡Quiérelos!</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">Acerca de Nuestro Sitio</a></li>
						<li><a href="#two">Tipos de Roedores</a></li>
						<li><a href="#three">Lugares de Interés</a></li>
						<li><a href="#four">Contacto</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="image main" data-position="center">
									<img src="images/banner.jpg" alt="" />
								</div>
								<div class="container">
									<header class="major">
										<h2>Roedores Rescatados</h2>
										<p>Información, consejos y todo lo que necesitas saber acerca del bello mundo de los roedores</p>
										
									</header>
									<p>Los roedores son los animales más adaptables e inteligentes, brindan una grata compañía y mucho cariño. A pesar de que son juzgados por su apariencia, ellos demuestran ser excelentes mascotas. Lamentablemente existen personas que lucran y experimentan con ellos a costa de sus vidas, es por ello que se han formado centros de acogida para mejorar su calidad de vida y ser reubicados a nuevos dueños.</br>
									Aquí encontrará información sobre sus cuidados y además los centros de adopción disponibles en la región.</p>
								</div>
							</section>

						<!-- Two -->
						<section id="two">
							<div class="container">
								<h3>Tipos de Roedores</h3>
								<p>A la hora de tener una mascota en casa, es muy importante valorar qué tipo elegir en función del tiempo que tengamos disponible para cuidar del animal, del espacio de nuestra vivienda, del dinero que podamos gastar en sus cuidados y alimentación, etc.</br>
									Así, si ya has decidido que quieres tener un roedor como mascota, debes saber que es uno de los animales que menos atención requiere y que son el grupo más numeroso de mamíferos, con más de 2.000 especies. Sin embargo, pese a no necesitar mucha atención, sí podrías asegurarlo con un seguro para mascotas.</br>
									A pesar de la multitud de tipologías de los roedores, sólo algunos roedores se pueden tener legalmente como animal de compañía. Estos son, de forma general, los que tienen un carácter manso para no sufrir mordeduras y poderlos acariciar sin correr ningún peligro.</br></br>
									Te contamos cuáles son los tipos de roedores más comunes para tener en casa:
								</p>
								<div class="features">
									<article>
										<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
										<div class="inner">
											<h4>Hámster</h4>
											<p>Este es uno de los roedores domésticos preferidos por las familias, sobre todo por los más pequeños. Se caracterizan por ser muy dóciles y cariñosos, aunque es recomendable acostumbrarlos al contacto humano desde que son pequeños para que no desarrollen comportamientos agresivos. Su esperanza de vida suele estar entre 2 y 3 años, durante la cual necesitan una jaula grande para vivir.</p>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
										<div class="inner">
											<h4>Jerbo</h4>
											<p>Teniendo esta rata como mascota, el juego y la dulzura están asegurados. Los jerbos son muy curiosos y activos, pudiendo llegar a vivir hasta 5 años. Son más pequeños que los hámsteres y cuentan con una peculiar cola peluda y larga. Dado que es un animal muy sociable, es preferible tenerlo con otros para que no se deprima.</p>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
										<div class="inner">
											<h4>Cuyi</h4>
											<p>Son uno de los roedores de mayor tamaño (25 centímetros aproximadamente) y suelen vivir entre 5 y 7 años, o incluso 10 en algunos casos. Su carácter es cariñoso y dócil, y viven mejor con otro cuyi del mismo sexo. Entre sus cuidados hay que prestar atención a la limpieza diaria de su jaula y a su alimentación, basada sobre todo en frutas, verduras y heno. </p>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
										<div class="inner">
											<h4>Ratón</h4>
											<p>Existen diferentes subespecies de ratón (chino, espinoso, de laboratorio, etc.). Aunque cada una tiene una personalidad distinta, por norma general todos los ratones son bastante sociables. Suelen vivir entre 1 y 3 años, y se caracterizan por su tamaño pequeño y su cola larga sin pelo. Es aconsejable tenerlos en un hábitat de tamaño mediano y limpiarlo una vez a la semana. </p>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
										<div class="inner">
											<h4>Chinchilla</h4>
											<p>Este es uno de los roedores más ágil y activo. Al igual que necesitan vivir en grupo, también es preciso asegurarles una jaula lo suficientemente grande para que puedan trepar y moverse. Otro de sus rasgos característicos es la memoria que tienen para aprender cosas nuevas, aunque por otro lado suelen ser bastante miedosas. </p>
										</div>
									</article>
									<article>
										<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
										<div class="inner">
											<h4>Rata</h4>
											<p>Aunque esta especie pueda causar bastante rechazo entre muchas personas, lo cierto es que es un roedor que se puede tener como mascota. Lejos de lo que se pueda pensar, son animales muy cariñosos y juguetones. También necesitan vivir en grupo o con otra rata, y pueden llegar a vivir hasta 5 años. Para mantenerlas en perfecto estado, se recomienda limpiarlas dos veces a la semana como mínimo. </p>
										</div>
									</article>
									<p>En el caso de que quieras tener alguna de estos roedores como mascota, no olvides informarte bien sobre todas las características y cuidados que necesita la especie. Además, no te olvides de asegurarla. </p>
								</div>
							</div>
						</section>

						<!-- Three -->
							
							<section id="three">
								<div class="container">
									<h3>Lugares de Interés</h3>
									<p>Es importante saber que lugares son confiables a la hora de adoptar a una mascota y tambien el cuidado de los mismos. Aqui les dejamos una lista de los lugares recomendados.</p>
									<ul class="feature-icons">
										<li class="icon solid fa-paw"><a href="https://www.facebook.com/ExoRescatadosChile/">Exóticos Rescatados Chile</a></li>
										<li class="icon solid fa-paw"><a href="https://www.facebook.com/pequenaspatitas.cl/">Pequeñas Patitas</a></li>
										<li class="icon solid fa-clinic-medical"><a href="https://www.facebook.com/drariosrinconanimalvet/">Dra. Rios Rincón Animal</a></li>
										<li class="icon solid fa-clinic-medical"><a href="https://www.facebook.com/clinicamastervet/">Clínica Veterinaria Master Vet</a></li>
										<li class="icon solid fa-clinic-medical"><a href="https://www.facebook.com/clinicaveterinariadradolly/">Clínica Veterinaria Dra. Dolly</a></li>
									</ul>
								</div>
							</section>

						<!-- Four -->
							<section id="four">
								<div class="container">
									<h3>Contacto</h3>
									<p>Si deseas obtener más información acerca de nuestro sitio, alguna duda o desea ayudar a nuestra causa, acá puede escribirnos.</p>
									<form method="post" action="#">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Nombre" /></div>
											<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Correo Electrónico" /></div>
											<div class="col-12"><input type="text" name="subject" id="subject" placeholder="Asunto" /></div>
											<div class="col-12"><textarea name="message" id="message" placeholder="Mensaje" rows="6"></textarea></div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" class="primary" value="Enviar Mensaje" /></li>
													<li><input type="reset" value="Limpiar Formulario" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section>
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Todos los derechos reservados.</li><li>Diseño: <a href="http://html5up.net">HTML5 UP</a></li><li>Desarrollo: Patricia Toledo</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>